/** Monet CSS Variables **/
:root {
  /** accent 1 **/
  --md3-a1-0: #ccffff;
  --md3-a1-10: #c8fcff;
  --md3-a1-50: #bdf1ff;
  --md3-a1-100: #afe3ff;
  --md3-a1-200: #94c6ff;
  --md3-a1-300: #7aabff;
  --md3-a1-400: #608fe1;
  --md3-a1-500: #4673c2;
  --md3-a1-600: #2f5ba8;
  --md3-a1-700: #17418c;
  --md3-a1-800: #002971;
  --md3-a1-900: #000d57;
  --md3-a1-1000: #030017;

  /** accent 2 **/
  --md3-a2-0: #eeffff;
  --md3-a2-10: #ebfcff;
  --md3-a2-50: #e0f1ff;
  --md3-a2-100: #d2e3ff;
  --md3-a2-200: #b6c7e4;
  --md3-a2-300: #9cacc8;
  --md3-a2-400: #8191ac;
  --md3-a2-500: #667690;
  --md3-a2-600: #505f78;
  --md3-a2-700: #39475e;
  --md3-a2-800: #233047;
  --md3-a2-900: #0f1b30;
  --md3-a2-1000: #000001;

  /** accent 3 **/
  --md3-a3-0: #ffecff;
  --md3-a3-10: #ffe8ff;
  --md3-a3-50: #ffddff;
  --md3-a3-100: #fecfff;
  --md3-a3-200: #e1b4ea;
  --md3-a3-300: #c599ce;
  --md3-a3-400: #a97eb1;
  --md3-a3-500: #8d6495;
  --md3-a3-600: #754d7d;
  --md3-a3-700: #5b3563;
  --md3-a3-800: #431e4b;
  --md3-a3-900: #2c0733;
  --md3-a3-1000: #000002;

  /** neutral 1 **/
  --md3-n1-0: #fbffff;
  --md3-n1-10: #f7fbff;
  --md3-n1-50: #ecf0f8;
  --md3-n1-100: #dee2ea;
  --md3-n1-200: #c2c6ce;
  --md3-n1-300: #a7abb2;
  --md3-n1-400: #8c9097;
  --md3-n1-500: #71757c;
  --md3-n1-600: #5b5e65;
  --md3-n1-700: #43464c;
  --md3-n1-800: #2d3036;
  --md3-n1-900: #181b20;
  --md3-n1-1000: #000000;

  /** neutral 2 **/
  --md3-n2-0: #f7ffff;
  --md3-n2-10: #f3fcff;
  --md3-n2-50: #e8f1ff;
  --md3-n2-100: #dae3f1;
  --md3-n2-200: #bec7d5;
  --md3-n2-300: #a3acba;
  --md3-n2-400: #89919e;
  --md3-n2-500: #6e7683;
  --md3-n2-600: #575f6b;
  --md3-n2-700: #3f4652;
  --md3-n2-800: #2a303c;
  --md3-n2-900: #151b26;
  --md3-n2-1000: #000000;
}
